s3fs
pip==21.3.1
wcwidth==0.2.5
absl-py==0.12.0
aiohttp==3.7.4
appdirs==1.4.4
tensorflow==2.7.0
beautifulsoup4==4.6.3
bleach==3.3.0
bs4==0.0.1
cmd2
selenium
configobj==5.0.6
configparser==5.0.2
decorator==4.4.2
dill==0.3.3
rembg
distro==1.4.0
ediblepickle==1.1.3
fake-useragent==0.1.11
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imageio==2.9.0
importlib-metadata==1.5.0
incremental==16.10.1
Keras==2.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.1
lxml==4.6.3
Markdown
MarkupSafe==2.0.1
matplotlib==3.4.1
pkgconfig==1.5.5
mistune==0.8.4
more-itertools==4.2.0
mpmath==1.2.1
multidict==5.1.0
natsort==7.1.1
nest-asyncio==1.5.1
netifaces==0.10.4
numpy
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
pathy==0.6.0
patsy==0.5.1
pbr==5.5.1
pexpect==4.6.0
Pillow
plotly==4.14.3
preshed==3.0.5
prettytable==0.7.2
prometheus-client==0.10.0
prompt-toolkit==3.0.18
protobuf==3.15.7
ptyprocess==0.7.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
pydantic==1.8.2
pydeck==0.6.2
pyee==8.1.0
Pygments==2.8.1
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer
pyquery==1.4.3
pyrsistent==0.15.5
pyserial==3.4
python-dateutil==2.8.1
python-dotenv==0.18.0
python-slugify==4.0.1
PythonQwt==0.9.0
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.0.3
QtPy==1.9.0
regex==2021.8.28
requests>=2.24.0
requests-futures==1.0.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
SecretStorage==2.3.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.16.0
six==1.15.0
smart-open==5.2.1
smmap==4.0.0
sniffio==1.2.0
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
ssh-import-id==5.10
statsmodels==0.12.2
stevedore
streamlit==0.83.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3.0
tfrecord==1.13.0
thinc==8.0.8
threadpoolctl==2.1.0
tifffile==2021.4.8
toml==0.10.2
toolz==0.11.1
tornado==6.1.0
tqdm
traitlets==5.0.5
Twisted==18.9.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1.0
urllib3==1.25.8
validators==0.18.2
w3lib==1.22.0
wadllib==1.3.3
webencodings==0.5.1
websockets==8.1.0
flask>=1.1.2
torch>=1.9.1
torchvision>=0.10.1
waitress>=1.4.4
scipy>=1.5.4
pymatting>=1.0.6
filetype>=1.0.7

